body {
  padding:0 0;
  margin:0 0;
  /* font-family: sans-serif; */
}

button {
  border: none;
  padding: 0 0;
  margin: 0 0;
  background-color: transparent;
  outline: none;
  -webkit-transition: color 0.12s ease-in, border-color 0.12s ease-in, background-color 0.12s ease-in;
  transition: color 0.12s ease-in, border-color 0.12s ease-in, background-color 0.12s ease-in;
}

button:disabled:hover {
  color: red;
}

p {
  margin: 0 0;
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
}

a:hover {
  text-decoration: none;
}

input {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 8px 0;
  border: 0;
  box-shadow: 0 1px 0px 0px #ebebeb;
  -webkit-transition: box-shadow 0.5s, color 0.5s;
  transition: box-shadow 0.5s, color 0.5s;
}

input:focus {
  outline: none;
  box-shadow: 0 1px 0px 0px #4EA6EA;
}


input[type="file"] {
  display: none;
}

ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

label {
  margin: 0 0;
}

:focus {
  outline: none;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container {
  display: none;
  width: 100%;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 37px;
  width: 100%;
  border: 1px solid #4EA6EA;
  border-top: none;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.valid_field {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 8px 0;
  border: 0;
  box-shadow: 0 1px 0px 0px green;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.valid_field:focus {
  outline: none;
  box-shadow: 0 1px 0px 0px green;
}

textarea {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 8px 8px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: #4EA6EA;
}

.fade.modal-backdrop.in {
  z-index: 2;
}

.modal-header {
  padding: 10px;
  border: none;
}

.modal-title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  padding: 20px;
}

.close {
  vertical-align: middle;
}

.modal-body {
  padding: 20px 20px;
}

.btn {
  padding: 0 0;
  font-weight: 300;
}

.btn-default:focus {
  background-color: transparent;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown.btn-group {
  height: 100%;
  -webkit-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}

.dropdown.btn-group:hover {
  box-shadow: 0 1px 0 0 #4EA6EA;
}

.open>.dropdown-toggle.btn-default:focus {
  background-color: transparent;
  border: none;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   top: 50%;
   bottom: 50%;
}

.carousel-indicators {
  z-index: 1;
}

div.dropdown {
  z-index: 2;
}

#app {
  padding:0 0;
  margin:0 0;
  width: 100%;
  background-color: #f1f1f1;
}

#banner {
  display: flex;
  position: fixed;
  opacity: 1;
  visibility: 1;
  top: 0;
  background-color: white;
  width: 100%;
  height: 70px;
  color: black;
  z-index: 1;
  padding: 0 10%;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#banner_hide {
  display: flex;
  position: fixed;
  opacity: 0;
  visibility: 0;
  top: 0;
  background-color: white;
  width: 100%;
  height: 70px;
  color: black;
  z-index: 1;
  padding: 0 10%;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transition:opacity 0.2s ease-out;
  -moz-transition:opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  pointer-events: none;
}

.banner_section {
  height: 100%;
}

#banner_left {
}

#banner_center {
  -webkit-flex: auto;
  flex: auto;
}

#banner_right {
}

#banner_title {
  display: inline-block;
}

#banner_title h1 {
  line-height: 70px;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0;
}

#banner_title:hover {
  text-decoration: none;
}

#search_bar_div {
  display: flex;
  justify-content: space-between;
  border:1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  margin: 20px 20%;
}

#search_bar {
  -webkit-flex: auto;
  flex: auto;
  height: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

#search_bar_button {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 0 8px;
  border: 0;
  background-color: transparent;
  color: #337ab7;
  cursor: pointer;
}

#outfit_finder_button {
  padding: 0 0;
}

#banner_user_div {
  display: inline-block;
  height: 100%;
}

#banner_user_div>div {
  margin-left: 40px;
}

.banner_button {
  display: inline-block;
  cursor: pointer;
  padding: 0 0;
  padding-left: 40px;
  height: 100%;
  font-size: 14px;
}

.banner_button:hover {
  color: gray;
}

#banner_login_button {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #337ab7;
  border: 1px solid white;
  margin-left: 40px;
  color: white;
}

#banner_login_button:hover {
  border: 1px solid #337ab7;
  background-color: transparent;
  color: #337ab7;
}

.dropdown {
  display: inline-block;
}

.dropdown-toggle {
  display: inline-block;
  cursor: pointer;
  height: 100%;
  font-size: 14px;
  margin-left: 40px;
}

.dropdown-toggle.btn.btn-default {
  border: none;
  background-color: transparent;
}

#notifications_icon {
  height: 30px;
  padding: 0 0;
}

#banner_hr {
  border-color: #f1f1f1;
  width: 100%;
  margin: 0 0;
}

#white_background_wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
  /* width: 1250px; */
  /* width: 1100px; */
  width: 100%;
  min-height: 706px;
  /* margin: 0 auto; */
  padding: 0 10%;
  margin: 70px 0;
  background-color: white;
}

#single_white_background_wrapper {
  position: relative;
  overflow: hidden;
  width: 1250px;
  min-height: 706px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: white;
}

#content_wrapper {
  margin: 0;
  float: left;
  margin-bottom: 5%;
  width: 100%;
  background-color: white;
}

#type_selector {
  display: flex;
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
  z-index: 1;
  font-size: 21px;
  font-weight: 300;
  box-shadow: 0 1px 0 0 #f1f1f1;
}

.type_selector_button {
  display: inline-block;
  margin-right: 40px;
  transition: box-shadow 0.3s ease-in, color 0.3s ease-in;
  -webkit-transition: box-shadow 0.3s ease-in, color 0.3s ease-in;
}

.type_selector_button:hover {
  color: #888888;
}

.profile_section {
  display: flex;
  margin-left: auto;
}

.profile_section_item {
  display: flex;
  margin-left: 30px;
}

.profile_section_item p {
  margin: auto 0;
}

.profile_section_item div.links_dropdown {
  position: absolute;
  display: none;
  right: 0;
  border-radius: 4px;
  background-color: white;
  padding: 20px 20px;
  width: 300px;
  /* min-height: 200px; */
  max-height: 0px;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.profile_section_item:hover div.links_dropdown {
  display: block;
  max-height: 1000px;
  box-shadow: -2px 4px 12px 2px #888888;
}

.post_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  list-style-type: none;
  list-style-position: inside;
  background-color: white;
  margin-bottom: 160px;
}

#polaroid_div {
  display: inline-block;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  /* -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; */
  transition: width 0.5s ease-in, height 0.5s ease-in, border-color 0.2s;
  -webkit-transition: width 0.5s ease-in, height 0.5s ease-in, border-color 0.2s;
}

#polaroid_div:hover {
  /* box-shadow: 5px 10px 8px #888888; */
  border-color: #337ab7;
}

#post_header {
  display: flex;
  height: 60px;
  padding: 5px 5px;
}

#post_header div.post_status {
  display: inline-flex;
  flex-direction: column;
  margin-right: 5px;
}

#post_header div.post_status p {
  margin: auto 0;
  color: gray;
  font-weight: 300;
  font-size: 12px;
}

.genre {
  display: inline-flex;
  flex-direction: column;
  margin-left: auto;
  /* padding: 0 10px; */
}

.genre a {
  margin: auto 0;
  background-color: gray;
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
  font-weight: 400;
  font-size: 12px;
  transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
}

.genre a:hover {
  background-color: #ccc;
}

#user_name {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 400;
  padding: 16px 0;
}

#genre_button {
  text-align: center;
  background-color: gray;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 2px 10px;
}

#genre_button:hover {
  background-color: #ccc;
}

#genre_text {
  text-align: center;
  font-size: 12px;
  margin: 2px 0;
  padding: 0 10px;
}

#profile_image_div {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.image_wrapper {
  cursor: pointer;
  position: relative;
}

.post_image {
  /* max-width: 100%; */
  /* max-width: 750px; */
  /* max-width: 660px;
  max-height: 880px;
  min-width: 480px;
  min-height: 300px; */
  image-orientation: from-image;
  /* max-height: 776px; */
  background-repeat: no-repeat;
  transition: width 0.5s ease-in, height 0.5s ease-in;
  -webkit-transition: width 0.5s ease-in, height 0.5s ease-in;

}

#tags_div_wrapper {
  padding: 0 20px;
  width: 400px;
}

#tags_div_flexbox {
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  height: 100%;
}

#title {
  display: inline-flex;
  padding-top: 30px;
  height: 60px;
  width: 100%;
  box-shadow: 0 1px 0 0 #888888;
}

.title_og_tag {
  display: flex;
  padding: 0 10px;
}

.title_og_tag span {
  margin: auto 0;
  color: red;
}

#title_text {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
  margin: auto 0;
}

#tag_title_hr {
  border-color: #888888;
  float: left;
  margin: 0 0;
  width: 100%;
}

#tags_div {
  padding: 0 0;
  font-size: 13px;
}

.tag_image {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  background-size: cover;
  padding: 5px 0;
  margin-right: 5%;
}

.tags_text_div {
  display: inline-block;
  flex: 1;
  vertical-align: top;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.tags_text_div:hover {
  color: #337ab7;
}

.tag_brand {
  font-weight: 500;
}

.tag_name {
}

.tag_link {
  display: inline-block;
  margin: auto 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tag_link_wrapper {
  display: inline-flex;
  position: relative;
  margin: 0 30px;
  cursor: pointer;
}

.tag_link_wrapper div.dropdown {
  display: none;
  position: absolute;
  padding: 5px 10px;
  top: 30px;
  right: 0;
  border-radius: 4px;
  background-color: white;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.tag_link_wrapper:hover div.dropdown {
  display: block;
  box-shadow: -2px 4px 12px 2px #888888;
}

#og_tag {
  /* display: inline-block; */
  width: 30px;
  padding: 10px 10px;
  color: red;
  text-align: center;
}

.og_icon {
  float: right;
}

#description_hr {
  margin: 0 0;
  width: 100%;
  border-color: #888888;
}

#description_wrapper {
  padding: 10px 0;
  width: 90%;
  font-size: 12px;
}

#comments_div ul {
  padding: 10px 0;
  list-style: none;
}

#toggle_like {
  font-size: 20px;
}

#toggle_like:hover {
  color: #e2264d;
}

#stats_header {
  padding: 15px 0;
  width: 100%;
}

#stats_header button {
  display: inline-block;
  padding: 0 0;
  padding-right: 20px;
}

#stats_header img {
  display: inline-block;
  width: 30px;
}

#collection_stats_header {
  padding: 15px 0;
  width: 100%;
}

#collection_stats_header button {
  display: inline-block;
  padding: 0 0;
  padding-right: 20px;
}

#collection_stats_header img {
  display: inline-block;
  width: 20px;
}

.stats_number {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

#non_stat_div {
  float: right;
}

#add_playlist_wrapper {
  display: inline-block;
}

#post_hr {
  border-color: #f1f1f1;
  float: left;
  margin: 80px 0;
  width: 95%;
}

#stats_column {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  width: 300px;
  padding: 15px 20px;
}

#stats_column h1 {
  display: inline-block;
  margin: 0 0;
  font-size: 18px;
  font-weight: 400;
}

#stats_wrapper {
  padding: 0 15px;
}

.vertical_line {
  position: absolute;
  border-left: 2px solid #f1f1f1;
  height: 1000px;
  width: 0;
  margin: 0 0;
}

#genre_of_the_day_div {
  padding: 10px 5px;
}

#genre_of_the_day {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

#stats_column_title {
  display: inline;
}

#stats_title_hr {
  margin: 5px 0;
}

.view_div {
  display: flex;
  margin-top: 20px;
}

.view_div div {
  display: inline-block;
  flex: 1;
}

.view_counter {
  display: inline-block;
  width: 100%;
}

.stat_number {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
}

#seven_days_counter {
  text-align: right;
}

#seven_days_views {
  text-align: right;
}


#total_plays {
  padding-top: 20px;
}

#time_period_title {
  margin-top: 5%;
}

.top_location_title {
}

.top_location {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0;
}

.country_icon {
  display: inline-block;
  width: 15%;
  margin-right: 2%;
}

.view_bar_container {
  display: inline-block;
  width: 100%;
  background-color: #ddd;
  margin-top: 2%;
  margin-bottom: 4%;
}

.view_bar {
  width: 90%;
  background-color: #4CAF50;
  text-align: right;
  color: white;
  padding-right: 5%;
}

.top_viewer_title {
}

.top_viewer {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0;
}

.viewer_icon {
  display: inline-block;
  width: 10%;
  border-radius: 50%;
  margin-right: 2%;
}

#who_to_follow_title {
  margin-top: 5%;
}

#profile_banner {
  display: flex;
  height: 250px;
  background-color: white;
}

.profile_info_description_div {
  display: flex;
  margin-left: auto;
  max-width: 250px;
}

.profile_info_description_div>div {
  margin: auto 0;
}

.profile_info_description_div>div>div {
  text-align: center;
}

.profile_info_description_div>div>div>p {
  font-weight: 300;
}

.profile_info_description_title {
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 1px 0 0 #ccc;
  margin-bottom: 5px;
}

.profile_info {
  display: inline-flex;
  height: 100%;
  padding: 20px 0;
  margin-left: 50px;
}

.profile_info div {
  display: inline-flex;
  flex-direction: column;
}

.profile_info div#profile_info_image_div {
  margin-right: 20px;
}

.profile_info div.profile_info_text_div div {
  margin: auto 0;
}


#profile_info_image {
  display: inline-block;
  position: relative;
  background-size: cover;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 20px 0;
}

#profile_info_text_div {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
}

.profile_info_text {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 0 3px;
  vertical-align: middle;
}

.profile_info_icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: cover;
}

#profile_info_username {
  font-weight: 500;
  font-size: 18px;
}

.profile_column_title {
  display: inline;
  margin: 0 0;
}

.collections_div {
  padding: 10px 0;
}

.page_title {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 300;
}

/* #likes_list {
  padding: 0 0;
  margin: 0 0;
}

#likes_list li {
  display: inline-block;
  list-style: none;
}

.likes_list_item_image {
  max-width: 80px;
}

#likes_next_button {
  text-decoration: none;
  padding: 4px 10px;
  background-color: #f1f1f1;
  color: white;
  border-radius: 50%;
} */

.see_all_link {
  float: right;
  text-decoration: none;
}

#albums_list {
  padding: 0 0;
  margin: 0 0;
}

#albums_list li {
  display: inline-block;
  list-style: none;
}

.albums_list_item_title {
  margin: 0 0;
  text-align: center;
}

.albums_list_item_polaroid {
  box-shadow: 1px 5px 8px #888888;
  margin-right: 10px;
}

.albums_list_item_image {
  max-width: 80px;
}

#single_post_image_wrapper {
  display: inline-block;
}

#upload_post_image {
  max-width: 720px;
  image-orientation: from-image;
}

#single_post_image {
  max-width: 850px;
  /* max-width: 720px; */
  image-orientation: from-image;
}

#single_post_tags_div_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  padding: 0 25px;
}

#single_post_profile_image_div {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

#single_post_header_text {
  display: inline-block;
  width: 300px;
}

#single_post_status {
  float: right;
  margin: 0 0;
}

.single_post_title_div {
  display: flex;
  height: 100px;
  padding: 10px 0;
  font-weight: 300;
}

.single_post_title_div div.title {
  display: inline-flex;
  flex-direction: column;
  padding: 0 10px;
  flex: 1;
  font-size: 16px;
  font-weight: 300;
}

.single_post_title_div div.title p {
  margin: auto 0;
}

.single_post_title_div div.right {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.single_post_title_div div.right div {
  margin: auto 0;
}

.single_post_title_div div.right a {
  display: inline-block;
  background-color: gray;
  color: white;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 20px;
  transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
}

.single_post_title_div div.right a:hover {
  background-color: #ccc;
}

.single_post_title_div div.right p {
  display: inline-block;
}

.single_post_title_div div.right span {
  display: inline-block;
  margin: 0 20px;
}

.single_post_wrapper {
  display: flex;
}

.single_post_wrapper div.center {
  margin: 0 auto;
}

.single_post_wrapper div.center div.image_wrapper {
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  transition: border-color 0.2s;
  -webkit-transition: border-color 0.2s;
}

.single_post_wrapper div.center div.image_wrapper:hover {
  border-color: #337ab7;
}

.single_post_bottom {
  display: flex;
  padding-bottom: 20px;
}

.single_post_bottom div.right_bottom {
  flex: 50%;
  padding: 0 30px;
}

.single_post_bottom div.right_bottom>p {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding: 20px 0;
}

.single_post_bottom div.left_bottom {
  flex: 50%;
}

.single_post_bottom div.left_bottom div.tetris_block_wrapper, div.album_tetris_block_wrapper {
  display: inline-block;
}

.single_post_bottom div.left_bottom>p {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding: 20px 0;
}

#single_post_stats_header {
  padding: 10px 0;
}

#collections_type_selector {
  width: 96%;
  margin: 20px 2%;
  color: black;
  z-index: 1;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #f1f1f1;
}

#collections_wrapper {
  margin: 0;
  width: 100%;
  background-color: white;
}

#collections_list {
  height: 100%;
  padding: 0 0;
}

#collections_list li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin-right: 20px;
  vertical-align: top;
}

.collection_item_div {
}

.collection_item_img {
  max-width: 250px;
}

#input_image_button {
}

#input_div {
  display: inline-block;
  flex-grow: 1;
  vertical-align: top;
  width: 400px;
  padding: 0 30px;
}

#input_div label {
  display: block;
  margin: 0 0;
  font-weight: 400;
  color: #888888;
}

#input_div label.required:after {
  display: inline;
  color: #e32;
  content: ' *';
}

#input_div div.url_div {
  display: flex;
  margin-bottom: 40px;
  color: #888888;
}

#input_div p.url_head {
  display: inline-block;
}

#input_div input.url {
  display: inline-block;
  margin: 0 0;
  padding: 0 0;
}

#add_tag_button {
  display: inline-block;
  float: left;
  background-color: #ADD8E6;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

#tags_input {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 2px;
  margin: 10px 0 20px;
  font-weight: 600;
}

#tags_input span {
  background:#fff;
  padding:0 10px;
}

#input_tag_div {
  display: inline-block;
  position: relative;
  padding: 10px 10px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 0 2px white;
  -webkit-transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
}

#input_tag_div select {
  padding: 4px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px white;
  background-color: transparent;
  color: white;
}

#input_tag_div input[type="text"] {
  width: 100%;
  padding: 4px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px white;
  color: white;
}

#input_tag_div input[type="text"]:focus {
  box-shadow: 0 0 0 2px #4EA6EA;
}

#input_tag_div input[type="checkbox"] {
  margin-left: 5px;
  width: 20px;
  box-shadow: none;
  float: right;
}

#input_tag_div p {
  color: white;
}

#input_tag_div button {
  padding: 5px 8px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  box-shadow: 0 0 0 2px white;
  -webkit-transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
}

#tag_type_input {
  display: inline-block;
}

#input_tag_position {
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 0 2px white;
  background-color: rgba(0,0,0,0.4);

}

#input_hr {
  margin: 10px 0;
  width: 100%;
  border-color: #ccc;
}

#form_cancel {
}

#form_cancel:hover {
  color: #D34C63;
  box-shadow: 0 0 0 2px #D34C63;
}

#form_submit {
  float:right;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form_submit:disabled {
  background-color: #f1f1f1;
}

#outfit_finder_type_selector {
  display: inline-block;
  width: 96%;
  margin: 20px 2%;
  color: black;
  z-index: 1;
  font-size: 21px;
  border-bottom: 1px solid #f1f1f1;
}

#outfit_finder_person_div {
  float: left;
  width: 46%;
  margin: 10px 2%;
  border: 1px solid #ccc;
  height: 600px;
}

#outfit_finder_title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

#genre_selector_div {
  float: right;
}

#genre_selector_input {
  width: 300px;
}

#genre_selector_title {
  display: inline-block;
  font-size: 21px;
  padding: 0 5px;
}

#add_tags_div {
  float: right;
  width: 30%;
  padding: 0 2%;
}

#save_tag_button {
  float: right;
}

#save_tag_button:hover {
  color: #80D58F;
  box-shadow: 0 0 0 2px #80D58F;
}

#upload_tags_div {
  width: 100%;
  max-height: 500px;
  /* overflow-y: scroll;
  overflow-x: visible; */
  position: relative;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

#upload_tags_div li {
  display: flex;
  color: black;
  padding: 10px 0;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

#upload_tags_div li.active {
  color: #337ab7;
}

#tag_original_input {
  float: right;
}

#related_outfits_div {
  padding: 10px 0;
}

#related_outfits_title {
  font-weight: 600;
  font-size: 14px;
}

#related_outfits_list {
  text-decoration: none;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

#related_outfits_list li {
  padding: 10px 0;
}

#related_outfits_list img {
  max-width: 100px;
}

#charts_div {
  display: inline-block;
  width: 70%;
}

#time_selector_div {
  float: right;
  width: 100%;
  padding: 0 2%;
}

#time_selector {
  float: right;
}

#charts_post_wrapper {
  display: inline-block;
  width: 100%;
  padding: 0 2%;
}

#charts_polaroid_div {
  display: inline-block;
  width: 400px;
  border: 1px solid #f1f1f1;
  box-shadow: 5px 10px 8px #888888;
}

#charts_tags_div_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding-top: 34px;
  padding-left: 30px;
}

#charts_tag_title_hr {
  border-color: #888888;
  float: left;
  margin: 0 0;
  width: 100%;
}

#charts_title {
  display: inline-block;
  padding-bottom: 5px;
  width: 100%;
}

#charts_post_header {
  height: 60px;
  width: 100%;
  padding: 5px 5px;
}

#charts_post_hr {
  border-color: #f1f1f1;
  float: left;
  margin: 20px 0;
  margin-left: 2%;
  width: 95%;
}

#charts_post_status {
  float: right;
}

#playlist_dropdown {
  float: right;
}

.time_period_dropdown {
  margin-left: auto;
}

#time_period_button {
}

#time_period_list li {
  padding: 10px 10px;
  cursor: pointer;
}

#time_period_list li>a {
  font-weight: 300;
  padding: 0 0;
}

#time_period_list li:hover {
  background-color: #f1f1f1;
}

#time_period_button {
  font-size: 21px;
  border-bottom: 1px solid #f1f1f1;
}

#views_graph_div {
}

.stats_title {
  font-size: 24px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
}

#graph_wrapper {
  margin: 20px auto;
  width: 800px;
  background-color: #f1f1f1;
}

.top_viewed_image {
  display: inline-block;
  width: 200px;
}

.top_viewed_title {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  vertical-align: top;
}

#stats_polaroid_div {
  display: inline-block;
  width: 250px;
  border: 1px solid #f1f1f1;
  box-shadow: 5px 10px 8px #888888;
}

.stats_bar_container {
  display: inline-block;
  height: 400px;
  width: 20px;
  background-color: #ddd;
  margin: 0 60px;
  vertical-align: top;
}

.top_viewer_div {
  display: inline-block;
  width: 30%;
  padding-bottom: 10px;
}

#left_top_viewer_div {
  float: left;
  margin-right: 5%;
}

#right_top_viewer_div {
  float: right;
}

#top_viewer_profile_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
}

.top_locations_title {
  display: block;
}

.stats_portion_div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

#login_dropdown_wrapper {
  display: inline-block;
  margin: 0 100px;
}

#login_dropdown {
  border: none;
}

.welcome_text {
  text-align: center;
  padding-bottom: 20px;
}

.oauth_div {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.oauth_div img {
  border-radius: 6px;
  height: 50px;
  width: 50px;
}

.oauth_div img:hover {
  box-shadow: 0 5px 4px #888888;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

#input_div input {
  margin-bottom: 30px;
}

#input_div textarea {
  margin-bottom: 30px;
}

#login_input_fields {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

#login_input_fields input{
  margin-bottom: 40px;
}

#login_input_fields button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #4EA6EA;
  color: #4EA6EA;
  padding: 8px;
  border-radius: 6px;
}

#login_input_fields button:hover {
  border: 1px solid blue;
  color: blue;
}

.dropdown-menu {
  margin: 0 0;
  padding: 0 0;
}

.dropdown-menu li>a {
  padding: 15px 20px;
}

.dropdown-menu li>button {
  color: #337ab7;
  padding: 5px 20px;
}

.form-group {
  display: block;
}

.form-group label {
  display: block;
}

.form-control {
  display: inline-block;
  width: 250px;
}

#create_account_modal {
  display: inline-block;
  margin: 0 100px;
}

#plus_icon_dropdown li:hover {
  cursor: pointer;
}

#playlist_posts_list {
  padding: 20px 5px;
  margin: 0 0;
  max-height: 300px;
  overflow-y: scroll;
}

#playlist_posts_list li {
  display: flex;
  list-style: none;
  height: 40px;
  padding: 8px 5px;
  font-weight: 300;
  font-size: 12px;
  -webkit-transition: box-shadow 0.4s ease-in;
  transition: box-shadow 0.4s ease-in;
}

#playlist_posts_list li.selected {
  box-shadow: 0 1px 1px 2px #ccc;
}

#playlist_posts_list li div.playlist_post_title {
  display: inline-flex;
  flex: 1;
  margin-left: 8px;
  cursor: pointer;
}

#playlist_posts_list li div.playlist_post_title p {
  margin: auto 0;
}

#playlist_posts_list li div.original {
  display: flex;
  margin-right: 10px;
}

#playlist_posts_list li div.original span {
  margin: auto 0;
  color: red;
}

#playlist_posts_list li div.views {
  display: inline-flex;
}

#playlist_posts_list li div.views div {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
}

#playlist_posts_list li div.views p {
  margin: auto 5px;
}

.playlist_post_stat {
  display: inline-block;
  padding-right: 10px;
}

.playlist_post_stat_button {
  width: 20px;
}

.playlist_post {
  padding: 10px 0;

}

#follow_button {
  border: 1px solid black;
  font-size: 14px;
  color: black;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px 10px;
}

#follow_button:hover {
  border: 1px solid #ff5656;
  color: #ff5656;
}

#following_button {
  border: 1px solid #ff5656;
  font-size: 14px;
  color: #ff5656;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px 10px;
}

#following_button:hover {
  border: 1px solid black;
  color: black;
}

.type_selector_dropdown_div {
  position: absolute;
  right: 0;
  padding: 5px 0;
}

.comments_list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
  max-height: 400px;
  overflow-y: scroll;
  font-size: 12px;
}

.comments_list li {
  padding: 10px 0;
  margin: 0 0;
}

.comments_list p {
}

#comments_toggle {
  border-top: 1px solid #888888;
  /* border-left: 1px solid #888888;
  border-right: 1px solid #888888; */
  padding: 10px 10px;
  font-size: 12px;
}

#comments_toggle:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#comments_toggle p {
  display: inline-block;
  font-size: 14px;
  /* font-weight: 600; */
}

#comments_up_arrow {
  float: right;
}

#comments_input_bar {
  display: flex;
  border: 1px solid #888888;
  padding: 0 10px;
}

#comments_input {
  border: none;
  box-shadow: none;
  font-size: 12px;
}

#comment_button {
  float: right;
  color: #337ab7;
}

#comments {
  padding: 0 0;
}

#comments li {
  padding: 5px 0;
}

.comment_user {
  display: inline-block;
}

.comment {
  display: block;
  padding-top: 5px;
}

.comment_time {
  float: right;
}

#navbar_stats_dropdown {
  display: inline-block;
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#comments_wrapper {
  margin-top: auto;
}

#playlist_modal {
  padding: 0 0;
}

.playlist_selector {
  display: flex;
  padding: 20px 20px;
}

.playlist_selector:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.playlist_selector>* {
  margin-right: 10px;
}

.playlist_selector>p {
  margin: auto 0;
  margin-right: 20px;
}

.playlist_selector>p.is_public {
  margin-left: auto;
}

#create_new_playlist {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

#playlists_list {
  padding: 0 0;
  list-style: none;
}

#playlist_list li {
  padding: 20px 20px;
}

#playlist_list li:hover {
  border: none;
}

#playlist_title {
  font-weight: 500;
  font-size: 16px;
}

.playlist_icon_div {
  display: flex;
  padding: 0 5px;
}

.playlist_icon_div>p {
  margin: auto 5px;
}

.playlist_icon_div>div {
  height: 30px;
  width: 30px;
  background-size: cover;
}

#create_new_playlist_wrapper {
  padding: 20px 20px;
}

#create_new_playlist_wrapper>div {
  display: block;
  margin: 0 auto;
}

#create_new_playlist_wrapper>div>button {
  display: block;
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 8px;
  color: #337ab7;
  border: 1px solid #337ab7;
  width: 100%;
  transition: color 0.4s, border-color 0.4s;
  -webkit-transition: color 0.4s, border-color 0.4s;
  cursor: pointer;
}

#create_new_playlist_wrapper>div>button:disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: default;
}

#create_new_playlist_wrapper>div>button:hover {
  /* color: #337ab7;
  border-color: #337ab7; */
}

.playlist_input_div {
  display: flex;
  width: 100%;
  padding: 10px 0;
}

.playlist_input_label{
  font-size: 16px;
  padding-right: 10px;
  margin: 0 0;
  width: 100px;
}

.playlist_input {
  box-shadow: none;
}

.playlist_input:focus {
  box-shadow: none;
}

#public_radio_input {
  margin-right: 10px;
  box-shadow: none;
}

#create_playlist_button {
  width: 100%;
  background-color: green;
  color: white;
  height: 40px;
}

#create_playlist_button:hover {
  background-color: #79c879;
}

#create_playlist_button:disabled {
  background-color: #f1f1f1;
}

#tag_click_div_wrapper {
  display: inline-block;
  align-self: flex-start;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
  transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;

}

#tag_click_div_wrapper:hover {
  border-color: #337ab7;
}

#tags_input_box {
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,0.4);
  border-radius: 8px;
}

#input_box {
  display: block;
  width: 50%;
  margin: 120px auto;
  border-radius: 8px;
  text-align: center;
  transition: border-color 0.8s;
  -webkit-transition: border-color 0.8s;
}

#input_box_title {
  display: block;
  margin: 0 0;
  font-size: 30px;
  font-weight: 300;
  color: #888888;
  padding-top: 80px;
  transition: color 0.8s;
  -webkit-transition: color 0.8s;
}

#input_box p {
  display: inline-block;
  padding-bottom: 80px;
  color: #888888;
  font-weight: 300;
  font-size: 16px;
}

.input_box_icons {
  padding: 40px 0;
}

.input_box_icons div {
  display: inline-block;
  margin: 0 20px;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.input_box_icons div.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#image_upload_label {
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
  color: #337ab7;
  font-weight: 300;
  font-size: 16px;
}

#tag_modifiers_div {
  float: right;
}

.tag_modifier_button {
  display: block;
}

.tag_modifier_button_image {
  width: 15px;
}

#outer_circle {
  display: inline-block;
  border: 1px solid #337ab7;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 10px 10px;
  margin-right: 15px;
  cursor: pointer;
}

#inner_circle {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #337ab7;
  margin: 3px auto;
}

#tag_location {
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #337ab7;
}

#click_tag_location {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #337ab7;
  width: 12px;
  height: 12px;
}

.modal-backdrop.in {
  z-index: auto;
}

.post_profile_link {
  display: inline-block;
  height: 100%;
  position: relative;
}

.post_profile_link a {
  display: inline-flex;
  height: 100%;
}

.post_profile_link div {
  display: inline-flex;
  flex-direction: column;
  margin-right: 5px;
}

.post_profile_link div.profile_image {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
}

.post_profile_link strong {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  margin: auto 0;
}

.post_profile_link div.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  padding: 10px 10px;
  margin: 0 0;
  width: 150px;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.post_profile_link:hover div.dropdown {
  display: block;
}

.single_post_profile_link {
  display: inline-block;
  height: 100%;
}

.single_post_profile_link a {
  display: flex;
  height: 100%;
}

.single_post_profile_link div {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}

.single_post_profile_link div.profile_image {
  height: 80px;
  width: 80px;
  background-size: cover;
  border-radius: 50%;
}

.single_post_profile_link strong {
  margin: auto 0;
  font-size: 16px;
  font-weight: 300;
}

.single_post_profile_link div.dropdown {
  display: none;
  position: absolute;
  top: 10;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.single_post_profile_link:hover div.dropdown {
  display: block;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}
#dropdown_follow {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 2px;
  color: black;
}

#dropdown_follow:hover {
  background-color: #f1f1f1;
}

.dropdown_text {
  padding: 2px 0;
  color: black;
}

.edit_profile_wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.edit_profile_wrapper div {
  font-weight: 300;
}

.edit_profile_image {
  position: relative;
  margin: auto auto;
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
}

.edit_profile_image div label {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 70px;
  width: 68px;
  text-align: center;
  font-weight: 300;
  background-color: rgb(255, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.edit_profile_image div label:hover {
  background-color: rgb(255, 255, 255, 0.4);
}

.edit_profile_image:hover div label {
  display: block;
}

.edit_profile_wrapper div.edit_profile_form label {
  font-weight: 500;
  padding-top: 25px;
}

#edit_profile_button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
  margin-left: 20px;
}

#edit_profile_button:hover {
  border: 1px solid #ccc;
}

#edit_profile_text_div {
  display: inline-block;
  padding: 0 20px;
}

#edit_profile_image {
  display: inline-block;
  object-fit: cover;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.signup_div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin: 50px 0;
}

.signup_form_div {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.signup_validator {
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
}

#notifications_dropdown {
  height: 70px;
}

.notification_cirlce_show {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: 20px;
  right: -10px;
  color: white;
  text-align: center;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.notification_cirlce_hide {
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: 20px;
  right: -10px;
  color: white;
  text-align: center;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.notifications_list {
  list-style: none;
  padding: 0 0;
}

.notifications_list li {
  padding: 10px 10px;
  width: 500px;
  /* height: 100px; */
  font-size: 12px;
  font-weight: 300;
}

.notifications_list li div {
  display: flex;
}

.notifications_list li div div {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}

.notifications_list li div * {
  margin: auto 0;
}

.notifications_list li div.notification_post_image {
  background-size: cover;
  border-radius: 6px;
}

.notifications_list li div.notification_collection_image {
  background-size: cover;
  border-radius: 6px;
  box-shadow: 6px 6px 0px 0px #ccc;
}

.notifications_list li div.activity_type {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.notifications_list li div.notification_date {
  margin-left: auto;
}

.notifications_list button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 5px;
}

.notifications_list button:hover {
  color: red;
  border-color: red;
}

.post_link {
  display: inline-block;
}

.post_link img {
  display: inline-block;
  max-height: 50px;
  border-radius: 4px;
}

.post_link p {
  display: inline-block;
}

#see_all_notifications {
  height: 40px;
  text-align: center;
}

#see_all_notifications p {
  display: inline-block;
}

.notificationsPage_list {
  list-style: none;
  padding: 0 0;
}

.notificationsPage_list li {
  padding: 10px 10px;
  font-size: 12px;
}

.notificationsPage_list button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 5px;
}

.notificationsPage_list button:hover {
  color: red;
  border-color: red;
}

.followers_profile {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.followers_profile div.profile_image {
  width: 175px;
  height: 175px;
  background-size: cover;
  border-radius: 50%;
  margin: 10px 0;
}

.followers_profile strong {
  display: block;
  text-decoration: none;
  font-weight: 300;
}

.followers_profile div.dropdown {
  display: none;
  position: absolute;
  top: 10;
  left: 30px;
  font-size: 14px;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.followers_profile:hover div.dropdown {
  display: block;
}

#genre_title {
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
}

.image_tetris_wrapper {
  width: 1152px;
}

.tetris_column {
  display: inline-block;
  width: 384px;
  vertical-align: top;
}

.related_tetris_column {
  display: inline-block;
  width: 288px;
  vertical-align: top;
}

.tetris_image {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.tetris_block_wrapper {
  vertical-align: top;
  position: relative;
}

.album_tetris_block_wrapper {
  vertical-align: top;
  position: relative;
  padding-bottom: 20px;
}

.block_profile {
  display: flex;
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  padding: 5px 5px;
  background-color: rgb(255,255,255,0.3);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.block_profile>p {
  margin: auto 0;
  font-size: 12px;
  font-weight: 300;
}

.block_stats {
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0;
  width: 100%;
  background-color: rgb(255,255,255,0.3);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#upload_title {
  font-size: 32px;
  font-weight: 300;
  margin-top: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#upload_disclaimer {
  padding: 50px 0;
  text-align: center;
}

#upload_images_wrapper {
  display: flex;
  padding: 40px 0;
}

#edit_tools_wrapper {
  display: inline-block;
  vertical-align: top;
  flex: 1;
}

#edit_tools {
  border: 1px solid #ccc;
  border-left: none;
  width: 150px;
}

#edit_tools li {
  padding: 40px 40px;
  text-align: center;
  cursor: pointer;
}

#edit_tools li.active {
  background-color: #f1f1f1;
  cursor: default;
}

#edit_tools li:hover {
  background-color: #f1f1f1;
}

.slidecontainer {
  position: absolute;
  bottom: 10%;
  left: 30%;
  width: 300px
}

.slidecontainer input {
  box-shadow: none;
}

#edit_image_wrapper {
  display: inline-block;
  position: relative;
  align-self: flex-start;
  border: 1px solid #337ab7;
}

#edit_image_wrapper img {
}

#image_list_wrapper {
  float: right;
}

#upload_image_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-height: 500px;
  overflow-y: scroll;
  padding: 0 0;
  margin: 0 0;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.upload_image_list_item {
  padding: 10px 20px;
}

#upload_image_list li.active {
  background-color: #ccc;
}

#upload_image_list div {
  display: inline-block;
}

#add_image_button {
  display: block;
  width: 150px;
  margin: 10px auto;
  background-color: #888888;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px 0;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;

}

#add_image_button:hover {
  background-color: #ccc;
}

#input_image_button:disabled+label {
  cursor: default;
  background-color: #ccc;
}

.remove_image_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
}

.continue_button {
  width: 190px;
  margin: 20px 0;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: green;
  border-radius: 4px;
}

#back_button {
  color: #337ab7;
}

#back_button:hover {
  color: #23527c;
}

.explore_right {
  display: inline-flex;
  margin-left: auto;
}

.explore_right>div {
  display: inline-flex;
  margin-left: 40px;
}

.explore_right div label {
  display: inline-block;
  font-weight: 300;
  margin: auto 10px;
}

.explore_right input {
  display: inline-block;
  width: auto;
  padding: 5px 0;
}

.explore_right button {
  font-size: 14px;
  font-weight: 400;
  color: #337ab7;
}

.top_posts_wrapper {
  display: flex;
}

.top_posts_column {
  width: 384px;
  vertical-align: top;
}

.top_posts_column>p {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
}

.top_viewers_column {
  display: flex;
  width: 384px;
  vertical-align: top;
}

.top_viewers_column div {
  margin: 0 auto;
}

.top_viewers_column div p.time_views {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}

.total_stats_div {
  display: flex;
}

.total_stats_div div {
  display: flex;
  margin-right: 30px;
  font-size: 32px;
  font-weight: 300;
}

.total_stats_div div>* {
  margin: auto 0;
}

.total_stats_div div div {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: cover;
}

.total_views {
  margin: 20px 0;
  font-weight: 300;
}

.total_views span{
  font-size: 36px;
  color: #9BDEBF;
  margin-right: 8px;
}

.total_views p {
  font-size: 18px;
}

.views_progress_bar_div {
  margin: 20px 0;
}

.views_progress_bar_div>div>p {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 0;
}

.views_progress_bar_wrapper {
  display: flex;
}

.views_progress_bar_wrapper>div {
  margin: auto 0;
  /* height: 20px; */
  width: 0px;
  border-radius: 10px;
  background-color: #9BDEBF;
  transition: width 2.0s;
  -webkit-transition: width 2.0s;
}

.views_progress_bar_wrapper>div>p {
  text-align: center;
  color: white;
  padding: 2px 0;
  font-size: 16px;
  font-weight: 300;
}

.views_progress_bar_wrapper>p {
  margin: auto 0;
  padding: 0 10px;
  font-size: 28px;
  font-weight: 300;
}

@media only screen and (max-width: 1300px) {
  #search_bar {
    display: inline-block;
    width: 200px;
    margin: 0 3%;
  }
}

@media only screen and (max-width: 1110px) {
  #search_bar {
    display: inline-block;
    width: 100px;
    margin: 0 3%;
  }

  #polaroid_div {
    margin: 0 auto;
  }
  /* #post_image {
    max-width: 400px;
  } */
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
