body {
  padding:0 0;
  margin:0 0;
  /* font-family: sans-serif; */
}

button {
  border: none;
  padding: 0 0;
  margin: 0 0;
  background-color: transparent;
  outline: none;
  -webkit-transition: color 0.12s ease-in, border-color 0.12s ease-in, background-color 0.12s ease-in;
  transition: color 0.12s ease-in, border-color 0.12s ease-in, background-color 0.12s ease-in;
}

button:disabled:hover {
  color: red;
}

p {
  margin: 0 0;
}

a:hover {
  text-decoration: none;
}

input {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 8px 0;
  border: 0;
  box-shadow: 0 1px 0px 0px #ebebeb;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

input:focus {
  outline: none;
  box-shadow: 0 1px 0px 0px #4EA6EA;
}


input[type="file"] {
  display: none;
}

.valid_field {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 8px 0;
  border: 0;
  box-shadow: 0 1px 0px 0px green;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.valid_field:focus {
  outline: none;
  box-shadow: 0 1px 0px 0px green;
}

textarea {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 8px 8px;
  border: 1px solid #ebebeb;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: #4EA6EA;
}

.fade.modal-backdrop.in {
  z-index: 2;
}

.modal-header {
  padding: 10px;
  border: none;
}

.modal-title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  padding: 20px;
}

.close {
  vertical-align: middle;
}

.modal-body {
  padding: 20px 20px;
}

.dropdown-menu li {
  /* padding: 10px 10px; */
}

#app {
  padding:0 0;
  margin:0 0;
  width: 100%;
  background-color: #f1f1f1;
}

#banner {
  display: flex;
  position: fixed;
  opacity: 1;
  visibility: 1;
  top: 0;
  background-color: white;
  width: 100%;
  height: 70px;
  color: black;
  z-index: 1;
  padding: 0 10%;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#banner_hide {
  display: flex;
  position: fixed;
  opacity: 0;
  visibility: 0;
  top: 0;
  background-color: white;
  width: 100%;
  height: 70px;
  color: black;
  z-index: 1;
  padding: 0 10%;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transition:opacity 0.2s ease-out;
  -moz-transition:opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  pointer-events: none;
}

.banner_section {
  height: 100%;
}

#banner_left {
}

#banner_center {
  -webkit-flex: auto;
  flex: auto;
}

#banner_right {
}

#banner_title {
  display: inline-block;
}

#banner_title h1 {
  line-height: 70px;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0;
}

#banner_title:hover {
  text-decoration: none;
}

#search_bar_div {
  display: flex;
  justify-content: space-between;
  border:1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  margin: 20px 20%;
}

#search_bar {
  -webkit-flex: auto;
  flex: auto;
  height: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

#search_bar_button {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 0 8px;
  border: 0;
  background-color: transparent;
  color: #337ab7;
  cursor: pointer;
}

#outfit_finder_button {
  padding: 0 0;
}

#banner_user_div {
  display: inline-block;
  height: 100%;
}

.banner_button {
  display: inline-block;
  cursor: pointer;
  padding: 0 0;
  padding-left: 40px;
  height: 100%;
  font-size: 14px;
}

.banner_button:hover {
  color: gray;
}

#banner_login_button {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #337ab7;
  border: 1px solid white;
  margin-left: 40px;
  color: white;
}

#banner_login_button:hover {
  border: 1px solid #337ab7;
  background-color: transparent;
  color: #337ab7;
}

.dropdown {
  display: inline-block;
}

.dropdown-toggle {
  display: inline-block;
  cursor: pointer;
  height: 100%;
  font-size: 14px;
  margin-left: 40px;
}

.dropdown-toggle.btn.btn-default {
  border: none;
  background-color: transparent;
}

#notifications_icon {
  height: 30px;
  padding: 0 0;
}

#banner_hr {
  border-color: #f1f1f1;
  width: 100%;
  margin: 0 0;
}

#white_background_wrapper {
  position: relative;
  overflow: hidden;
  z-index: 0;
  /* width: 1250px; */
  /* width: 1100px; */
  width: 100%;
  min-height: 706px;
  /* margin: 0 auto; */
  padding: 0 10%;
  margin-top: 70px;
  background-color: white;
}

#single_white_background_wrapper {
  position: relative;
  overflow: hidden;
  width: 1250px;
  min-height: 706px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: white;
}

#content_wrapper {
  margin: 0;
  float: left;
  margin-bottom: 5%;
  width: 100%;
  background-color: white;
}

#type_selector {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
  z-index: 1;
  font-size: 21px;
  border-bottom: 1px solid #f1f1f1;
}

.type_selector_button {
  display: inline-block;
  margin-right: 40px;
}

.type_selector_button:hover {
  color: gray;
}

.type_selector_button_selected {
  display: inline-block;
  margin-right: 40px;
  color: red;
  border-bottom: 1px solid red;
  padding-bottom: 1%;
}

.type_selector_button_selected:hover {
  color: gray;
}

#profile_section {
  float: right;
}

.post_wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  list-style-type: none;
  list-style-position: inside;
  background-color: white;
}

#polaroid_div {
  display: inline-block;
  border: 1px solid #f1f1f1;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

#polaroid_div:hover {
  box-shadow: 5px 10px 8px #888888;
}

#post_header {
  height: 60px;
  width: 100%;
  padding: 5px 5px;
}

#user_name {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 400;
  padding: 16px 0;
}

#post_status {
  display: inline-block;
  padding: 0 5px;
  color: gray;
  font-weight: 200;
  font-size: 12px;
}

#genre_button {
  float: right;
  text-align: center;
  background-color: gray;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 2px 10px;
  margin: 15px 15px;
}

#genre_button:hover {
  background-color: #ccc;
}

#genre_text {
  text-align: center;
  font-size: 12px;
  margin: 2px 0;
  padding: 0 10px;
}

#profile_image_div {
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

#profile_image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
}

#image_wrapper {
  display: inline-block;
  width: 100%;
}

#post_image {
  /* max-width: 100%; */
  /* max-width: 750px; */
  max-width: 700px;
  image-orientation: from-image;
  /* max-height: 776px; */
  transition: max-width 0.2s ease-in;
}

#tags_div_wrapper {
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
  width: 350px;
  /* max-width: 30%; */
}

#title {
  padding-top: 30px;
  display: inline-block;
  height: 60px;
  width: 90%;
}

#title_text {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

#tag_title_hr {
  border-color: #888888;
  float: left;
  margin: 0 0;
  width: 100%;
}

#tags_div {
  padding: 0 0;
  font-size: 13px;
}

.clothing_tag {
  padding: 10px 0;
}

.tag_image {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  padding: 5px 0;
  margin-right: 5%;
}

.tags_text_div {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.tag_brand {
  font-weight: 500;
}

.tag_name {
}

#og_tag {
  display: inline-block;
  width: 30px;
  padding: 10px 10px;
  color: red;
  text-align: center;
}

.og_icon {
  float: right;
}

#description_hr {
  margin: 0 0;
  width: 100%;
  border-color: #888888;
}

#description_wrapper {
  padding: 10px 0;
  width: 90%;
  font-size: 12px;
}

#comments_div ul {
  padding: 10px 0;
  list-style: none;
}

#toggle_like {
  font-size: 20px;
}

#toggle_like:hover {
  color: #e2264d;
}

#stats_header {
  padding: 15px 0;
  width: 100%;
}

#stats_header button {
  display: inline-block;
  padding: 0 0;
  padding-right: 20px;
}

#stats_header img {
  display: inline-block;
  width: 30px;
}

#collection_stats_header {
  padding: 15px 0;
  width: 100%;
}

#collection_stats_header button {
  display: inline-block;
  padding: 0 0;
  padding-right: 20px;
}

#collection_stats_header img {
  display: inline-block;
  width: 20px;
}

.stats_number {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

#non_stat_div {
  float: right;
}

#add_playlist_wrapper {
  display: inline-block;
}

#post_hr {
  border-color: #f1f1f1;
  float: left;
  margin: 80px 0;
  width: 95%;
}

#stats_column {
  width: 300px;
  padding: 15px 20px;
}

#stats_wrapper {
  padding: 0 15px;
}

.vertical_line {
  position: absolute;
  border-left: 2px solid #f1f1f1;
  height: 1000px;
  width: 0;
  margin: 0 0;
}

#genre_of_the_day_div {
  padding: 10px 5px;
}

#genre_of_the_day {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

#stats_column_title {
  display: inline;
}

#stats_title_hr {
  margin: 5px 0;
}

.view_div {
  display: inline-block;
  width: 50%;
  border-right: 1px solid #ccc;
}

#right_half_view_div {
  border: none;
  text-align: right;
}

.view_counter {
  display: inline-block;
  width: 100%;
}

.stat_number {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
}

#stat_line_separator {
  display: inline-block;
  border-left: 2px solid #f1f1f1;
  height: 50px;
  vertical-align: top;
  margin: 0 0;
}

#seven_days_counter {
  text-align: right;
}

#seven_days_views {
  text-align: right;
}

#total_plays {
  padding: 10px 0;
}

#time_period_title {
  margin-top: 5%;
}

.top_location_title {
}

.top_location {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0;
}

.country_icon {
  display: inline-block;
  width: 15%;
  margin-right: 2%;
}

.view_bar_container {
  display: inline-block;
  width: 100%;
  background-color: #ddd;
  margin-top: 2%;
  margin-bottom: 4%;
}

.view_bar {
  width: 90%;
  background-color: #4CAF50;
  text-align: right;
  color: white;
  padding-right: 5%;
}

.top_viewer_title {
}

.top_viewer {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0;
}

.viewer_icon {
  display: inline-block;
  width: 10%;
  border-radius: 50%;
  margin-right: 2%;
}

#who_to_follow_title {
  margin-top: 5%;
}

#profile_banner {
  display: inline-block;
  height: 250px;
  width: 100%;
  background-color: white;
}

#profile_info {
  display: inline-block;
  height: 100%;
  padding: 20px 20px;
  padding-left: 50px;
}

#profile_info_image {
  display: inline-block;
  object-fit: cover;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 20px 0;
}

#profile_info_text_div {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
}

.profile_info_text {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 0 3px;
  vertical-align: middle;
}

.profile_info_icon {
  width: 35px;
  margin-left: 30px;
}

#profile_info_username {
  font-weight: 500;
  font-size: 18px;
}

.profile_column_title {
  display: inline;
  margin: 0 0;
}

.collections_div {
  padding: 10px 0;
}

#likes_list {
  padding: 0 0;
  margin: 0 0;
}

#likes_list li {
  display: inline-block;
  list-style: none;
}

.likes_list_item_image {
  max-width: 80px;
}

#likes_next_button {
  text-decoration: none;
  padding: 4px 10px;
  background-color: #f1f1f1;
  color: white;
  border-radius: 50%;
}

.see_all_link {
  float: right;
  text-decoration: none;
}

#albums_list {
  padding: 0 0;
  margin: 0 0;
}

#albums_list li {
  display: inline-block;
  list-style: none;
}

.albums_list_item_title {
  margin: 0 0;
  text-align: center;
}

.albums_list_item_polaroid {
  box-shadow: 1px 5px 8px #888888;
  margin-right: 10px;
}

.albums_list_item_image {
  max-width: 80px;
}

#single_post_polaroid_div {
  display: inline-block;
  max-width: 850px;
}

#single_post_image_wrapper {
  display: inline-block;
}

#upload_post_image {
  max-width: 720px;
  image-orientation: from-image;
}

#single_post_image {
  max-width: 850px;
  /* max-width: 720px; */
  image-orientation: from-image;
}

#single_post_tags_div_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  padding: 0 25px;
}

#single_post_profile_image_div {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

#single_post_header_text {
  display: inline-block;
  width: 300px;
}

#single_post_status {
  float: right;
  margin: 0 0;
}

#single_post_title_div {
  padding-top: 10px;
  display: inline-block;
  height: 35px;
  width: 100%;
}

#single_post_title_text {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

#single_post_stats_header {
  padding: 10px 0;
}

#collections_type_selector {
  width: 96%;
  margin: 20px 2%;
  color: black;
  z-index: 1;
  font-size: 21px;
  border-bottom: 1px solid #f1f1f1;
}

#collections_wrapper {
  margin: 0;
  width: 100%;
  background-color: white;
}

#collections_list {
  height: 100%;
  padding: 0 0;
}

#collections_list li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin-right: 20px;
  vertical-align: top;
}

.collection_item_div {
}

.collection_item_img {
  max-width: 250px;
}

#input_image_button {
}

#input_div {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding: 20px 10px;
}

.input_box {
  width: 100%;
  padding: 4px 10px;
  margin: 8px 0;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#add_tag_button {
  display: inline-block;
  float: left;
  background-color: #ADD8E6;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

#tags_input {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 2px;
  margin: 10px 0 20px;
  font-weight: 600;
}

#tags_input span {
  background:#fff;
  padding:0 10px;
}

#input_tag_div {
  display: inline-block;
  padding: 5px 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#input_hr {
  margin: 10px 0;
  width: 100%;
  border-color: #ccc;
}

#form_cancel {
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

#form_submit {
  float:right;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form_submit:disabled {
  background-color: #f1f1f1;
}

#outfit_finder_type_selector {
  display: inline-block;
  width: 96%;
  margin: 20px 2%;
  color: black;
  z-index: 1;
  font-size: 21px;
  border-bottom: 1px solid #f1f1f1;
}

#outfit_finder_person_div {
  float: left;
  width: 46%;
  margin: 10px 2%;
  border: 1px solid #ccc;
  height: 600px;
}

#outfit_finder_title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

#genre_selector_div {
  float: right;
}

#genre_selector_input {
  width: 300px;
}

#genre_selector_title {
  display: inline-block;
  font-size: 21px;
  padding: 0 5px;
}

#add_tags_div {
  float: right;
  width: 30%;
  padding: 0 2%;
}

#save_tag_button {
  float: right;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

#upload_tags_div {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
}

#upload_tags_div li:hover {
  background-color: #f1f1f1;
}

#tag_original_input {
  display: inline-block;
  padding-right: 5px;
}

#related_outfits_div {
  padding: 10px 0;
}

#related_outfits_title {
  font-weight: 600;
  font-size: 14px;
}

#related_outfits_list {
  text-decoration: none;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

#related_outfits_list li {
  padding: 10px 0;
}

#related_outfits_list img {
  max-width: 100px;
}

#charts_div {
  display: inline-block;
  width: 70%;
}

#time_selector_div {
  float: right;
  width: 100%;
  padding: 0 2%;
}

#time_selector {
  float: right;
}

#charts_post_wrapper {
  display: inline-block;
  width: 100%;
  padding: 0 2%;
}

#charts_polaroid_div {
  display: inline-block;
  width: 400px;
  border: 1px solid #f1f1f1;
  box-shadow: 5px 10px 8px #888888;
}

#charts_tags_div_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding-top: 34px;
  padding-left: 30px;
}

#charts_tag_title_hr {
  border-color: #888888;
  float: left;
  margin: 0 0;
  width: 100%;
}

#charts_title {
  display: inline-block;
  padding-bottom: 5px;
  width: 100%;
}

#charts_post_header {
  height: 60px;
  width: 100%;
  padding: 5px 5px;
}

#charts_post_hr {
  border-color: #f1f1f1;
  float: left;
  margin: 20px 0;
  margin-left: 2%;
  width: 95%;
}

#charts_post_status {
  float: right;
}

#playlist_dropdown {
  float: right;
}

#time_period_dropdown {
  float: right;
  margin: 20px 100px;
}

#time_period_button {
}

#time_period_list li {
  padding: 10px 0;
  cursor: pointer;
}

#time_period_list li:hover {
  background-color: #f1f1f1;
}

#time_period_button {
  font-size: 21px;
  border-bottom: 1px solid #f1f1f1;
}

#views_graph_div {
  width: 100%;
  padding: 0 2%;
}

.stats_title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.views_graph_stats_number {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

#graph_wrapper {
  display: block;
  margin: 20px auto;
  height: 500px;
  background-color: #f1f1f1;
}

.top_viewed_image {
  display: inline-block;
  width: 200px;
}

.top_viewed_title {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  vertical-align: top;
}

#stats_polaroid_div {
  display: inline-block;
  width: 250px;
  border: 1px solid #f1f1f1;
  box-shadow: 5px 10px 8px #888888;
}

.stats_bar_container {
  display: inline-block;
  height: 400px;
  width: 20px;
  background-color: #ddd;
  margin: 0 60px;
  vertical-align: top;
}

.top_viewer_div {
  display: inline-block;
  width: 30%;
  padding-bottom: 10px;
}

#left_top_viewer_div {
  float: left;
  margin-right: 5%;
}

#right_top_viewer_div {
  float: right;
}

#top_viewer_profile_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
}

.top_locations_title {
  display: block;
}

.stats_portion_div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

#login_dropdown_wrapper {
  display: inline-block;
  margin: 0 100px;
}

#login_dropdown {
  border: none;
}

.welcome_text {
  text-align: center;
  padding-bottom: 20px;
}

.oauth_div {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.oauth_div img {
  border-radius: 6px;
  height: 50px;
  width: 50px;
}

.oauth_div img:hover {
  box-shadow: 0 5px 4px #888888;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

#input_div input {
  margin-bottom: 30px;
}

#input_div textarea {
  margin-bottom: 30px;
}

#login_input_fields {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
}

#login_input_fields input{
  margin-bottom: 40px;
}

#login_input_fields button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #4EA6EA;
  color: #4EA6EA;
  padding: 8px;
  border-radius: 6px;
}

#login_input_fields button:hover {
  border: 1px solid blue;
  color: blue;
}

.dropdown-menu {
  margin: 0 0;
  padding: 0 0;
}

.dropdown-menu li {
}

.dropdown-menu li>a {
  padding: 15px 20px;
}

.form-group {
  display: block;
}

.form-group label {
  display: block;
}

.form-control {
  display: inline-block;
  width: 250px;
}

#create_account_modal {
  display: inline-block;
  margin: 0 100px;
}

#plus_icon_dropdown li:hover {
  cursor: pointer;
}

#playlist_posts_list {
  padding: 0 0;
  margin: 0 0;
}

#playlist_posts_list li {
  list-style: none;
  /* border-bottom: 1px solid #ccc; */
}

#playlist_post_user {
  display: inline-block;
  padding-right: 10px;
}

#playlist_post_title {
  display: inline-block;
  font-size: 14px;
}

.playlist_post_stat {
  display: inline-block;
  padding-right: 10px;
}

.playlist_post_stat_button {
  width: 20px;
}

.playlist_post {
  padding: 10px 0;
  color: gray;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.playlist_post:hover {
  cursor: pointer;
  color: black;
}

.playlist_post_selected {
  padding-top: 10px;
}

#follow_button {
  border: 1px solid black;
  font-size: 14px;
  color: black;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px 10px;
}

#follow_button:hover {
  border: 1px solid #ff5656;
  color: #ff5656;
}

#following_button {
  border: 1px solid #ff5656;
  font-size: 14px;
  color: #ff5656;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px 10px;
}

#following_button:hover {
  border: 1px solid black;
  color: black;
}

.type_selector_dropdown_div {
  position: absolute;
  right: 0;
}

.profile_dropdown_div {
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  padding-left: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.profile_dropdown_div div.links_dropdown {
  position: absolute;
  right: 0;
  border-radius: 4px;
  background-color: white;
  padding: 20px 20px;
  opacity: 0;
  width: 300px;
  /* min-height: 200px; */
  max-height: 0px;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.profile_dropdown_div:hover div.links_dropdown {
  max-height: 1000px;
  opacity: 1;
  box-shadow: -2px 4px 12px 2px #888888;
}

#comments_input_bar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}

#comments_input {
  border: none;
}

#comment_button {
  float: right;
}

#comments {
  padding: 0 0;
}

#comments li {
  padding: 5px 0;
}

.comment_user {
  display: inline-block;
}

.comment {
  display: inline-block;
  padding: 0 5px;
}

.comment_time {
  float: right;
}

#navbar_stats_dropdown {
  display: inline-block;
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#comments_wrapper {
  padding: 10px 0;
}

#playlist_modal {
  padding: 0 0;
}

.playlist_selector {
  padding: 20px 20px;
}

.playlist_selector:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#create_new_playlist {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

#playlists_list {
  padding: 0 0;
  list-style: none;
}

#playlist_list li {
  padding: 20px 20px;
}

#playlist_list li:hover {
  border: none;
}

#playlist_title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  padding-right: 20px
}

.playlist_icon_div {
  display: inline-block;
  padding: 0 5px;
}

.playlist_icon {
  height: 30px;
}

#create_new_playlist_wrapper {
  padding: 20px 20px;
}

.playlist_input_div {
  display: flex;
  width: 100%;
  padding: 10px 0;
}

.playlist_input_label{
  font-size: 16px;
  padding-right: 10px;
  margin: 0 0;
  width: 100px;
}

.playlist_input {
  width: 400px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

#public_radio_input {
  margin-right: 10px;
}

#create_playlist_button {
  width: 100%;
  background-color: green;
  color: white;
  height: 40px;
}

#create_playlist_button:hover {
  background-color: #79c879;
}

#create_playlist_button:disabled {
  background-color: #f1f1f1;
}

#tag_click_div_wrapper {
  display: inline-block;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  margin: 0 0;
}

#tag_click_div_wrapper:hover {
  border: 2px solid #337ab7;
}

#tag_click_div {
  display: inline-block;
  cursor: pointer;
}

#tags_input_box {
  position: absolute;
  z-index: 3;
  background-color: rgba(255,255,255,0.4);
  border-radius: 8px;
  cursor: grab;
}

#input_box {
  display: block;
  height: 400px;
  width: 600px;
  border: 1px solid #ccc;
  margin: 80px auto;
}

#input_box_title {
  display: block;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 60px 0;
}

#image_upload_wrapper {
  margin: 0 auto;
  text-align: center;
}

#image_upload_label {
  background-color: #337ab7;
  cursor: pointer;
  padding: 20px 20px;
  border-radius: 4px;
  color: white;
  margin: 0 auto;
}

#tag_modifiers_div {
  float: right;
}

.tag_modifier_button {
  display: block;
}

.tag_modifier_button_image {
  width: 15px;
}

#outer_circle {
  display: inline-block;
  border: 1px solid #337ab7;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 10px 10px;
  margin-right: 15px;
  cursor: pointer;
}

#inner_circle {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #337ab7;
  margin: 3px auto;
}

#tag_location {
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #337ab7;
}

#click_tag_location {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #337ab7;
  width: 12px;
  height: 12px;
}

.modal-backdrop.in {
  z-index: auto;
}

.post_profile_link {
  display: inline-block;
}

.post_profile_link div.dropdown {
  display: none;
  position: absolute;
  top: 10;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.post_profile_link:hover div.dropdown {
  display: block;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}

#dropdown_follow {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 2px;
  color: black;
}

#dropdown_follow:hover {
  background-color: #f1f1f1;
}

.dropdown_text {
  padding: 2px 0;
  color: black;
}

#edit_profile_button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
  margin-left: 20px;
}

#edit_profile_button:hover {
  border: 1px solid #ccc;
}

#edit_profile_modal_body {
  padding: 20px 20px;
}

#edit_profile_text_div {
  display: inline-block;
  padding: 0 20px;
}

#profile_info_image_div {
  display: inline-block;
}

#profile_info_image_div label#update_profile_image_label {
  display: none;
  position: absolute;
  top: 160px;
  left: 103px;
  background-color: white;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#profile_info_image_div:hover label#update_profile_image_label {
  display: block;
  color: black;
}

#edit_profile_image_div {
  display: inline-block;
  vertical-align: top;
}

#edit_profile_image_div label#update_profile_image_label {
  display: none;
  position: absolute;
  bottom: 120px;
  left: 75px;
  background-color: white;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#edit_profile_image_div:hover label#update_profile_image_label {
  display: block;
  color: black;
}

#edit_profile_image {
  display: inline-block;
  object-fit: cover;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.signup_div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin: 50px 0;
}

.signup_form_div {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.signup_validator {
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
}

#notifications_dropdown {
  height: 70px;
}

.notification_cirlce_show {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: 20px;
  right: -10px;
  color: white;
  text-align: center;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.notification_cirlce_hide {
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: 20px;
  right: -10px;
  color: white;
  text-align: center;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.notifications_list {
  list-style: none;
  padding: 0 0;
}

.notifications_list li {
  padding: 10px 10px;
  width: 400px;
  height: 90px;
  font-size: 12px;
}

.notifications_list button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 5px;
}

.notifications_list button:hover {
  color: red;
  border-color: red;
}

.activity_type {
  display: inline-block;
  width: 25px;
  margin: 0 10px;
}

.post_link {
  display: inline-block;
}

.post_link img {
  display: inline-block;
  max-height: 50px;
  border-radius: 4px;
}

.post_link p {
  display: inline-block;
}

.notification_date {
  float: right;
  padding: 20px 10px;
  color: gray;
}

.notification_date p {
  font-size: 12px;
}

.notification_followed_you_text {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
}

#see_all_notifications {
  height: 40px;
  text-align: center;
}

#see_all_notifications p {
  display: inline-block;
}

.notificationsPage_list {
  list-style: none;
  padding: 0 0;
}

.notificationsPage_list li {
  padding: 10px 10px;
  font-size: 12px;
}

.notificationsPage_list button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 5px;
}

.notificationsPage_list button:hover {
  color: red;
  border-color: red;
}

@media only screen and (max-width: 1300px) {
  #search_bar {
    display: inline-block;
    width: 200px;
    margin: 0 3%;
  }
}

@media only screen and (max-width: 1110px) {
  #search_bar {
    display: inline-block;
    width: 100px;
    margin: 0 3%;
  }

  #polaroid_div {
    margin: 0 auto;
  }
  /* #post_image {
    max-width: 400px;
  } */
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
